@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --color-primary: hsl(0, 0%, 0%);
    --color-secondary: hsl(0, 0%, 50%);
    --color-text-base: hsl(0, 0%, 100%);
    --color-bg-primary: hsl(0, 0%, 100%);
  }
}

.theme-light {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-success: hsl(0, 0%, 0%);
  --color-error: hsl(0, 100%, 50%);
  --color-footer: rgb(179, 179, 179, 0.55);
  --color-footer-text: hsl(0, 0%, 50%);
  --color-footer-text-hover: hsl(0, 0%, 30%);
}

.theme-dark {
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-success: hsl(0, 0%, 100%);
  --color-error: hsl(0, 100%, 50%);
  --color-footer: rgb(77, 76, 76, 0.55);
  --color-footer-text: hsl(0, 0%, 50%);
  --color-footer-text-hover: hsl(0, 0%, 80%);
}

/* .theme-orange {
  --color-primary: hsl(25, 95%, 53%);
  --color-secondary: hsl(25, 95%, 65%);
  } */

.theme-purple {
  --color-primary: hsl(270, 100%, 50%);
  --color-secondary: #fffacc;
  --color-success: #d9d907;
  --color-error: hsl(0, 100%, 50%);
  --color-footer: rgb(51, 0, 102, 0.55);
  --color-footer-text: hsl(54, 100%, 90%);
  --color-footer-text-hover: hsl(54, 73%, 70%);
}

.theme-green {
  --color-primary: hsl(120, 100%, 35%);
  --color-secondary: hsl(120, 100%, 45%);
}

.theme-blue {
  --color-primary: hsl(220, 100%, 50%);
  --color-secondary: hsl(220, 100%, 75%);
}

.theme-vanilla {
  --color-primary: hsl(66, 100%, 78%);
  --color-secondary: #34495e;
  --color-success: #00008b;
  --color-error: hsl(0, 100%, 50%);
  --color-footer: rgb(189, 198, 108, 0.55);
  --color-footer-text: #34495e;
  --color-footer-text-hover: #2c5b88;
}

.theme-lugubrious {
  --color-primary: hsl(0, 0%, 70%);
  --color-secondary: hsl(0, 0%, 50%);
  --color-success: hsl(0, 0%, 35%);
  --color-error: hsl(0, 100%, 50%);
  --color-footer: rgb(102, 102, 102, 0.55);
  --color-footer-text: #ffffff;
  --color-footer-text-hover: #f5d2d2;
}
